[data-theme='cisotheme'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: inherit;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.375rem;
	--radius-container: 0.375rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(95% 0.03 230deg);
	--color-primary-100: oklch(88% 0.07 230deg);
	--color-primary-200: oklch(80% 0.11 232deg);
	--color-primary-300: oklch(72% 0.15 234deg);
	--color-primary-400: oklch(64% 0.19 236deg);
	--color-primary-500: oklch(56% 0.23 238deg);
	--color-primary-600: oklch(52% 0.21 238deg);
	--color-primary-700: oklch(48% 0.19 238deg);
	--color-primary-800: oklch(44% 0.17 238deg);
	--color-primary-900: oklch(40% 0.15 238deg);
	--color-primary-950: oklch(36% 0.13 238deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-light);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(94% 0.03 190deg);
	--color-secondary-100: oklch(87% 0.07 192deg);
	--color-secondary-200: oklch(79% 0.11 194deg);
	--color-secondary-300: oklch(72% 0.14 196deg);
	--color-secondary-400: oklch(65% 0.18 198deg);
	--color-secondary-500: oklch(58% 0.22 200deg);
	--color-secondary-600: oklch(54% 0.2 200deg);
	--color-secondary-700: oklch(50% 0.18 200deg);
	--color-secondary-800: oklch(46% 0.16 200deg);
	--color-secondary-900: oklch(42% 0.14 200deg);
	--color-secondary-950: oklch(38% 0.12 200deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(95% 0.03 150deg);
	--color-tertiary-100: oklch(87% 0.07 150deg);
	--color-tertiary-200: oklch(79% 0.11 152deg);
	--color-tertiary-300: oklch(72% 0.16 154deg);
	--color-tertiary-400: oklch(66% 0.2 156deg);
	--color-tertiary-500: oklch(60% 0.22 158deg);
	--color-tertiary-600: oklch(56% 0.2 158deg);
	--color-tertiary-700: oklch(52% 0.19 158deg);
	--color-tertiary-800: oklch(48% 0.17 158deg);
	--color-tertiary-900: oklch(44% 0.15 158deg);
	--color-tertiary-950: oklch(40% 0.13 158deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(96.1% 0.04 122.61deg);
	--color-success-100: oklch(91.87% 0.08 125.04deg);
	--color-success-200: oklch(87.98% 0.12 126.7deg);
	--color-success-300: oklch(84.08% 0.15 127.54deg);
	--color-success-400: oklch(80.51% 0.18 129.15deg);
	--color-success-500: oklch(76.91% 0.2 130.94deg);
	--color-success-600: oklch(70.93% 0.19 130.88deg);
	--color-success-700: oklch(64.88% 0.17 130.55deg);
	--color-success-800: oklch(58.88% 0.15 130.58deg);
	--color-success-900: oklch(52.53% 0.14 130.09deg);
	--color-success-950: oklch(45.91% 0.12 129.83deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.65% 0.04 93.18deg);
	--color-warning-100: oklch(92.91% 0.07 92.36deg);
	--color-warning-200: oklch(89.31% 0.11 91.82deg);
	--color-warning-300: oklch(85.94% 0.13 90.58deg);
	--color-warning-400: oklch(82.66% 0.15 88.89deg);
	--color-warning-500: oklch(79.54% 0.16 85.76deg);
	--color-warning-600: oklch(73.46% 0.15 86.2deg);
	--color-warning-700: oklch(67.35% 0.14 86.19deg);
	--color-warning-800: oklch(60.78% 0.12 86.06deg);
	--color-warning-900: oklch(54.36% 0.11 86.07deg);
	--color-warning-950: oklch(47.62% 0.1 87.06deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(93.78% 0.03 17.75deg);
	--color-error-100: oklch(86.71% 0.06 18.49deg);
	--color-error-200: oklch(79.93% 0.1 19.55deg);
	--color-error-300: oklch(73.77% 0.14 21.06deg);
	--color-error-400: oklch(68.23% 0.18 23.03deg);
	--color-error-500: oklch(63.75% 0.21 25.44deg);
	--color-error-600: oklch(58.95% 0.19 25.38deg);
	--color-error-700: oklch(53.88% 0.18 25.28deg);
	--color-error-800: oklch(48.87% 0.16 25.18deg);
	--color-error-900: oklch(43.55% 0.14 25.01deg);
	--color-error-950: oklch(38.26% 0.12 24.83deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(98.4% 0.003 247.858);
	--color-surface-100: oklch(96.8% 0.007 247.896);
	--color-surface-200: oklch(92.9% 0.013 255.508);
	--color-surface-300: oklch(86.9% 0.022 252.894);
	--color-surface-400: oklch(70.4% 0.04 256.788);
	--color-surface-500: oklch(55.4% 0.046 257.417);
	--color-surface-600: oklch(44.6% 0.043 257.281);
	--color-surface-700: oklch(37.2% 0.044 257.287);
	--color-surface-800: oklch(27.9% 0.041 260.031);
	--color-surface-900: oklch(20.8% 0.042 265.755);
	--color-surface-950: oklch(12.9% 0.042 264.695);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-dark);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
